body {
    background-color: black;
    margin-top: 150px;
    margin-left: 65px;
    margin-right: 30px;
}

.center {
    display: flex;
    justify-content: space-between;
}


.txt_field input{
    display: flex;
    flex-direction: column;
    padding: 14px 50px;
    border-radius: 5px;
}

.singup_link {
color: white;
}

.singup_link button {
    padding: 10px 115px;
    color: #ffffff;
    background-color: #BC4400;
    border-radius: 5px;                                                                                                                                                                                                                                                                                                                                                                                                   
}

h1 {
    color: #ffffff;
}